body{
    font-family: "Roboto Condensed", sans-serif;
background: purple;
color: aliceblue;
margin: 0px;
margin-bottom: 100px;
}
.chamada{
    background: black;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
    
}
header{
    font-size: 40px;
    color:  white;
    border-bottom: 3px solid white;
    padding: 20px;

}
h1{
    font-size: 35px;
}
.chamada-texto{
    margin-right: 5%;
}